# Entorno virtual
.venv/
venv/
env/

# PyCharm / IntelliJ
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
